.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5CDB95;
}
.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: #05386B;
  display: flex;
  justify-content: right;
}
form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: #379683;
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover{
  background-color: #8EE4AF;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: #5CDB95;
}
form input.equal{
  width: 123px;
}
h1{
  color: white;
  font-family: cursive  ;
  text-align: center;
  float: left;
  padding-right: 200px;
}
.footer{
  padding-top: 650px;
}